body {
    background:url("Photos/pexels-trace-hudson-2529973.jpg");
    background-blend-mode: soft-light;
    background-size:cover;
}

h2 {
    font-style: italic;
}

header {
    width: 720px;
    padding: 10px;
    border: 5px solid #34414a;
    margin: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    width: 720px;
    padding: 10px;
    border: 5px solid #34414a;
    margin: 0;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

a {
    
    padding: 10px;
    padding-left: 96px;
    padding-right: 96px;
    border: 5px solid #34414a;
    background-color: rgb(255, 255, 255);
    width: 100%;
   
}

#links {
  text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right:auto;
   
}

.center {
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    background-color: white;
}